* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.dropdown {
  z-index: 100;
  position: absolute;
  left: 0;
}
.dropdown .dropdown-button {
  padding: 20px 35px;
  color: #000;
  border: none;
  font-weight: bold;
  cursor: pointer;
}
.dropdown .dropdown-button .material-icons {
  font-size: 30px;
}
.dropdown .dropdown-button .material-icons:hover {
  color: #ddd;
}
.dropdown .dropdown-content {
  width: 240px;
  height: 100vh;
  top: 0;
  bottom: 0;
  position: fixed;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translateX(0);
  box-shadow: 3px 0 35px rgba(0, 0, 0, 0.2);
  transition: transform 500ms;
}
.dropdown .dropdown-content .menu-close {
  height: 60px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  padding-right: 20px;
}
.dropdown .dropdown-content .menu-close .close-btn {
  font-size: 30px;
  cursor: pointer;
}
.dropdown .dropdown-link {
  width: 100%;
  text-align: center;
  padding: 15px 0;
  z-index: 5;
  font-size: 18px;
  text-decoration: none;
  color: #931d25;
  cursor: pointer;
}
.dropdown .dropdown-link:hover {
  color: #ffffff;
  background-color: #931d25;
}
.dropdown .dropdown-hidden {
  transform: translateX(-100%);
}
.tabs {
  width: 100%;
  min-height: 400px;
}
.tabs .tabs-items {
  width: 100%;
  min-height: 400px;
  display: flex;
  justify-content: flex-start;
  padding: 30px 5%;
}
.tabs .tabs-item {
  display: none;
  width: 100%;
}
.tabs .tabs-item .tabs-item-title {
  font-size: 24px;
  font-weight: bold;
  padding-bottom: 10px;
}
.tabs .tabs-item-selected {
  display: block;
}
.tabs .tabs-links {
  display: flex;
  overflow: scroll;
  background-color: #931d25;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.tabs .tabs-link {
  padding: 15px 50px;
  font-size: 14px;
  color: #ddd;
  cursor: pointer;
  border-bottom: 3px transparent solid;
  transition: border-bottom 500ms;
}
.tabs .tabs-link-selected {
  color: #fff;
  z-index: 2;
  border-bottom: 3px solid #fff;
}
.carocel {
  width: 900px;
  max-width: 90%;
  margin: 60px auto;
  display: flex;
  box-shadow: 0px 3px 45px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  border-radius: 10px;
  position: relative;
  height: 500px;
}
.carocel #move-left {
  position: absolute;
  top: 50%;
  left: 10px;
  z-index: 5;
}
.carocel .nav-button {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.carocel .nav-button:hover {
  color: #ddd;
}
.carocel #move-right {
  position: absolute;
  top: 50%;
  right: 10px;
  z-index: 5;
  cursor: pointer;
}
.carocel .box {
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  transform: translateX(100%);
  flex-direction: column;
  padding: 20px;
  cursor: pointer;
  transition: transform 500ms;
  background: white;
  background-size: cover;
  background-position: center;
}
.carocel .box-left {
  transform: translateX(-100%);
}
.carocel .box-selected {
  transform: translateX(0%);
}
.carocel .box-right {
  transform: translateX(100%);
}
.carocel .box[data-box="1"] {
  background-image: url("https://www.cbc.ca/kidscbc2/content/the_feed//pigsbestpets_lead.jpg");
}
.carocel .box[data-box="2"] {
  background-image: url("https://www.hearingdogs.org.uk/globalassets/sponsor/jade/sponsor-hearing-dog-puppy-jade-4-600-x-377.jpg");
}
.carocel .box[data-box="3"] {
  background-image: url("https://www.catster.com/wp-content/uploads/2017/12/A-gray-kitten-meowing.jpg");
}
::-webkit-scrollbar {
  display: none;
}
body {
  box-sizing: border-box;
  min-width: 300px;
  margin: 0;
  font-family: 'Oxygen', sans-serif;
}
.header-container {
  z-index: 7;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.header-container .header {
  height: 50px;
}
.section {
  width: 900px;
  max-width: 90%;
  margin: 45px auto;
  display: flex;
  box-shadow: 0px 3px 45px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  border: 1px #eaeaea solid;
  overflow: hidden;
}
